START

  PUSHS "Introduza uma string binária:"
  WRITES
  WRITELN

  READ
  STOREG 0

  PUSHI 0
  STOREG 1

  PUSHI 1
  STOREG 2

  PUSHG 0
  STRLEN
  STOREG 3

LOOP:

  PUSHG 3
  PUSHI 1
  SUPEQ
  JZ ENDLOOP

  PUSHG 0
  PUSHG 3
  PUSHI 1
  SUB
  CHARAT
  PUSHI 49
  EQUAL
  JZ SKIPADD

    PUSHG 1
    PUSHG 2
    ADD
    STOREG 1

SKIPADD:
  PUSHG 2
  PUSHI 2
  MUL
  STOREG 2

  PUSHG 3
  PUSHI 1
  SUB
  STOREG 3

  JUMP LOOP

ENDLOOP:

  PUSHS "O valor inteiro correspondente é: "
  WRITES
  PUSHG 1
  WRITEI
  WRITELN

STOP
